* {
    overflow: hidden;
}

body {
    background: none;
    padding: 0;
    margin: 0;
}

#now-playing-container {
    display: inline-block;
    height: 270px;
    width: 480px;
    padding: 0;
    white-space: nowrap;
}

/* ARTWORK */

#artwork-container {
    height: calc(270px - 64px);
}

#artwork {
    display: block;
    object-fit: contain;
    width: 480px;
    height: 480px;
    animation: show-artwork 500ms ease both;
}

#artwork.hide {
    animation: hide-artwork 500ms ease both !important;
}

#artwork.animate {
    animation: pan-vertical 30s ease-in-out infinite alternate;
}

@keyframes show-artwork {
    0% {
        transform: translateY(270px);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes hide-artwork {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(270px);
    }
}

@keyframes pan-vertical {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-270px);
    }
}

/*END ARTWORK*/

/*ARTIST & TRACK*/

#track-artist-container {
    background-color: #1e1e1e;
    box-sizing: border-box;
    display: inline-block;
    height: 64px;
    width: 100%;
    padding: 8px 8px 8px 0;
    animation: show-track-artist-container 500ms ease both;
}

#track-artist-container.hide {
    animation: hide-track-artist-container 500ms ease both;
}

@keyframes show-track-artist-container {
    0% {
        transform: translateY(64px);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes hide-track-artist-container {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(64px);
    }
}

#artist {
    color: #ffffff;
    display: inline-block;
    font-family: "proxima-nova", sans-serif;
    font-size: 16px;
    padding-left: 8px;
    animation: show-track-artist 500ms ease both;
}

#track.hide,
#artist.hide {
    animation: hide-track-artist 500ms ease both !important;
}

#track {
    color: #ffffff;
    display: inline-block;
    font-size: 24px;
    font-family: "proxima-nova", sans-serif;
    font-weight: bold;
    padding-left: 8px;
    animation: show-track-artist 500ms ease both;
}

@keyframes show-track-artist {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes hide-track-artist {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

#track.marquee,
#artist.marquee {
    animation: artist-track-marquee 12s linear infinite !important;
}

@keyframes artist-track-marquee {
    0% {
        transform: translateX(480px);
    }

    100% {
        transform: translateX(calc(-100% - 16px));
    }
}

/* END ARTIST & TRACK*/
